.categories {
  padding: 3rem 2rem;
  text-align: center;
  padding-top: 0;
}

.category-container {
  display: flex;
  justify-content:space-around;
  padding-top: 3vh;
}

.category {
  display: flex;
  flex-direction: column;
  width: 17vw; /* Adjusted for consistent width */
  height: 25vh; /* Adjusted for consistent height */
  border-radius: 0.5rem;
  transition: 0.3s ease; /* Smooth hover transition */
  overflow: hidden;
  background-color: #fff;
}

.category:hover {
  box-shadow: 0.125rem 0.25rem 2rem grey;
  transform: scale(1.05); /* Slight zoom effect on hover */
}

.category img {
  width: 100%;
  height: 85%; /* Adjusted to align with product card proportions */
  object-fit: cover;
  border-radius: 0.5rem 0.5rem 0 0; /* Rounded top corners */
}

.category h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orange;
  color: white;
  height: 25%; /* Ensures consistent title height */
  margin: 0;
  font-size: 1.2rem;
  border-top: 1px solid grey;
  border-radius: 0 0 0.5rem 0.5rem; /* Rounded bottom corners */
}

.view-recipes-btn {
  background-color: #ff6347;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 0.5rem;
  width: 100%;
  border-radius: 0 0 0.5rem 0.5rem;
  transition: background-color 0.3s ease;
}

.view-recipes-btn:hover {
  background-color: #ff4500; /* Darker shade on hover */
}
